.main{
    background-image: url('../../Components/assests/wallet.jpg');
    background-size: cover; /* Makes the image cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: block; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height to full viewport height */
    color: white; /* Change text color for better visibility */
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.main-text{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    min-height: 60vh; /* Full viewport height */
    padding: 20px; 
    justify-content: center; /* Center align items vertically */
}
.main-text h2{
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: black;
}
.main-text p{
    font-size: 1.5rem;
    color: black;  
    text-align: right; /* Center align text */
    max-width: 600px;  
}