.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 0 1px 3px -2px black;
    margin: 0px;
}
.logo{
    display:block;
    align-items: center;
    max-width: 150px;
}
.name{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.name li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-login{
    display: flex;
    align-items: center;
    gap: 45px;

} 
.nav-login ul {
    display: flex;
    align-items: center;
    gap: 45px;
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.nav-login ul li {
    display: inline; /* Make list items inline */
}

.nav-login ul .login-button {
    width: 157px;
    height: 58px;
    outline: none; 
    border: 1px solid gray;
    border-radius: 75px;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

.nav-login ul .login-button:hover {
    background-color: #f3f3f3; /* Darker shade on hover */
}